# Ignore virtual environment
venv/
ENV/
env/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore temporary data
*.tmp
*.bak
